# Project Capstone - Udacity

## US Immigration Data, Airport, US Demographics and Temprature ETL Pipeline


#### Project Summary

This project augments the US I94 immigration data with further data such as US airport data, US demographics and temperature data to have a wider basis for analysis on the immigration data.

The environment created for the project is as follows:
- Spark version 3.0 - latest version https://www.apache.org/dyn/closer.lua/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
- Hadoop version 3.2 pre-bundled with Spark
- Pyspark v3 compatible with Spark version
- Library for reading SAS data with https://github.com/saurfang/spark-sas7bdat
- Python Anaconda - v1.9.12
All the python dependencies were installed for running this project.

An ETL pipeline feeds into the 'dwh'(datawarehouse) database within indigeneous Spark Metastore. This database has a fact and dimensions table necessary for studying Immigration behavior. The warehouse can be used as a BI Analytics backend for 


The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [371]:
import boto3
import re
import os
import pandas as pd
import io
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import SQLContext
from pyspark.sql.functions import isnan, when, count, col, udf, dayofmonth, dayofweek, month, year, weekofyear
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.types import *

## Step 1: Scope the Project and Gather Data

### Scope 
This project augments the US I94 immigration data with further data such as US airport data, US demographics and temperature data to have a wider basis for analysis on the immigration data.
An ETL pipeline is built which directly feeds into the Spark warehouse 'dwh'. This warehouse can be used as a BI analytics backend for gaining deep insights on immigration behaviour.

#### I94 Immigration Data
I94 immigration data comes from theUS National Tourism and Trade Office website. It is provided in SAS7BDAT format which is a binary database storage format.

The temperature data is a Kaggle data set that includes temperatures in cities around the world. It can be found here: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

#### World Temperature Data
This is defined in the project resources. This dataset came from Kaggle.

#### Data for US Demographics
This is defined in the project resources. This data comes from OpenSoft.

#### Airport Data
This is a simple table of airport codes and corresponding cities.

In [360]:
# Data is gathered from the Udacity workspace to local workstation
%ls data/

Data-dict.jpeg                    i94.csv/
GlobalLandTemperaturesByCity.csv* i94_apr16_sub.sas7bdat*
airport-codes_csv.csv*            immigration/
airport.jpeg                      temperature.jpeg
demographics.jpeg                 us-cities-demographics.csv*

In [182]:
# Spark library to read sas files
spark = SparkSession.builder.\
    config("spark.jars.packages","saurfang:spark-sas7bdat:3.0.0-s_2.12").\
    enableHiveSupport().getOrCreate()

In [183]:
# Defining data source
files = [
    'GlobalLandTemperaturesByCity.csv',
    'i94_apr16_sub.sas7bdat',
    'airport-codes_csv.csv',
    'us-cities-demographics.csv'
]

airport_data = 'data/' + files[2]
demographics_data = 'data/' + files[3]
temperature_data = 'data/' + files[0]
immigration_data = 'data/' + files[1]

In [184]:
#df_immigration = pd.read_sas(immigration_data, 'sas7bdat', encoding="ISO-8859-1")
#df_temperature = pd.read_csv(temperature_data)
#df_demographics = pd.read_csv(demographics_data, sep)
#df_airports = pd.read_csv(airport_data)

In [185]:
spark

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Temperature Data
Converting into Spark Data Frames

Saving temperature data in pqt file format while fixing the header and making it consistent

In [364]:
df_temperature = spark.read.csv(temperature_data,header=True,inferSchema=True)
#fixing the header problem, this will make it consistent
for name in list(df_temperature.schema.names):
    df_temperature = df_temperature.withColumnRenamed(name, re.sub(r'[^a-zA-Z0-9]', '_', name).lower())
    
df_temperature.write.mode('overwrite').format('parquet').option('path', 'output/temperature').saveAsTable('temperature')

In [370]:
df_temperature.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| averagetemperature|averagetemperatureuncertainty| city|country|latitude|longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

#### Immigration data


##### Cleaning steps
Fixing data quality and other issues:

- date format for dtadfile and dtaddto
- data type for i94yr shouldn't be float
- data type for i94cit shouldn't be float
- data type for i94res shouldn't be float
- data type for i94mon shouldn't be float
- data type for arrdate shouldn't be float
- data type for i94mode shouldn't be float
- data type for depdate shouldn't be float
- data type for i94bir shouldn't be float
- data type for i94visa shouldn't be float
- data type for biryear shouldn't be float
- data type for count shouldn't be float
- data type for cicid shouldn't be float
- data type for admnum shouldn't be float

In [188]:
# Loading this as parrquet into the output folder
df_immigration = spark.read.format('com.github.saurfang.sas.spark').load(immigration_data)
for name in list(df_immigration.schema.names):
    df_immigration = df_immigration.withColumnRenamed(name, re.sub(r'[^a-zA-Z0-9]', '_', name).lower())
df_immigration.write.mode('overwrite').format('parquet').option('path', 'output/immigration').saveAsTable('immigration')

In [466]:
# fixing data quality issues
df_imm = (df_immigration
                  .withColumn('dtadfile', to_date(df_immigration.dtadfile, 'yyyyMMdd'))
                  .withColumn('dtaddto', to_date(df_immigration.dtaddto, 'MMddyyyy'))
                  .withColumn('i94yr', df_immigration.i94yr.cast(IntegerType()))
                  .withColumn('i94cit', df_immigration.i94cit.cast(IntegerType()))
                  .withColumn('i94res', df_immigration.i94res.cast(IntegerType()))
                  .withColumn('i94mon', df_immigration.i94mon.cast(IntegerType()))
                  .withColumn('arrdate', df_immigration.arrdate.cast(IntegerType()))
                  .withColumn('i94mode', df_immigration.i94mode.cast(IntegerType()))
                  .withColumn('depdate', df_immigration.depdate.cast(IntegerType()))
                  .withColumn('i94bir', df_immigration.i94bir.cast(IntegerType()))
                  .withColumn('i94visa', df_immigration.i94visa.cast(IntegerType()))
                  .withColumn('biryear', df_immigration.biryear.cast(IntegerType()))
                  .withColumn('count', df_immigration['count'].cast(IntegerType()))
                  .withColumn('cicid', df_immigration.cicid.cast(LongType()))
                  .withColumn('admnum', df_immigration.admnum.cast(LongType()))
                  )

df_imm.count()

#This will be used for staging the data for immigration
staging_immigration = df_imm.dropDuplicates(['cicid'])

In [467]:
staging_immigration.show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+----------+--------+-----+-------+-------+-------+-------+-------+----------+------+------+-------+-----------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|  dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|   dtaddto|gender|insnum|airline|     admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+----------+--------+-----+-------+-------+-------+-------+-------+----------+------+------+-------+-----------+-----+--------+
|   29| 2016|     4|   101|   101|    ATL|  20545|      1|     MA|  20561|    62|      2|    1|2016-04-01|     TIA| null|      G|      O|   null|      M|   1954|2016-09-30|     M|  null|     AZ|92503781430|00614|      B2|
|  474| 2016|     4|   103|   103|    NEW|  20545|      2|   null|  20547|    25|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1991|2016-06-29|     F|  null|    VES|55410441233|91285|      WT|
|  964| 2016|     4|   104|   104|    NEW|  20545|      1|     NY|  20550|    57|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1959|2016-06-29|     F|  null|     UA|55436997033|02067|      WT|
| 1677| 2016|     4|   104|   104|    MIA|  20545|      1|     FL|  20576|    50|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1966|2016-06-29|     F|  null|     UX|55460236433|00097|      WT|
| 1697| 2016|     4|   104|   104|    MIA|  20545|      1|     FL|  20546|    25|      2|    1|2016-04-01|    null| null|      G|      R|   null|      M|   1991|2016-06-29|     M|  null|     LX|55426537033|00066|      WT|
| 1806| 2016|     4|   104|   104|    SFB|  20545|      1|     FL|  20552|    49|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1967|2016-06-29|     F|  null|     OR|55455075633|00317|      WT|
| 1950| 2016|     4|   104|   123|    MIA|  20545|      1|     FL|  20561|    57|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1959|2016-06-29|     F|  null|     AA|55457766033|00039|      WT|
| 2040| 2016|     4|   104|   104|    MIA|  20545|      1|     FL|  20546|    57|      2|    1|2016-04-01|    null| null|      O|      O|   null|      M|   1959|2016-06-29|  null|  null|     AA|55438157633|00063|      WT|
| 2214| 2016|     4|   105|   105|    SLC|  20545|      1|     UT|  20554|    38|      2|    1|2016-04-01|     SOF| null|      G|      O|   null|      M|   1978|2016-09-30|     M|  null|     DL|92481964830|00089|      B2|
| 2453| 2016|     4|   107|   107|    CHI|  20545|      1|     IL|  20587|    77|      2|    1|2016-04-01|     KRK| null|      G|      O|   null|      M|   1939|2016-09-30|     F|  null|     AB|92462565330|07420|      B2|
| 2529| 2016|     4|   107|   107|    CIN|  20545|      1|     OH|  20553|    30|      1|    1|2016-04-01|     WRW| null|      G|      O|   null|      M|   1986|2016-09-30|     M|  null|     DL|92488583030|00229|      B1|
| 2927| 2016|     4|   108|   108|    DET|  20545|      1|     IA|  20555|    73|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1943|2016-06-29|     F|  null|     DL|55449559033|00139|      WT|
| 3091| 2016|     4|   108|   108|    NYC|  20545|      1|     MA|   null|     6|      2|    1|2016-04-01|    null| null|      G|   null|   null|   null|   2010|2016-06-29|     M|  null|     DY|55463018533|07011|      WT|
| 3506| 2016|     4|   108|   108|    SFR|  20545|      1|     CA|  20555|    54|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1962|2016-06-29|     F|  null|     SK|55447256433|00935|      WT|
| 4590| 2016|     4|   111|   111|    AUS|  20545|      1|     TX|  20560|     8|      2|    1|2016-04-01|    null| null|      O|      O|   null|      M|   2008|2016-06-29|  null|  null|     BA|55446379133|00191|      WT|
| 4823| 2016|     4|   111|   111|    CLT|  20545|      1|     NY|  20559|    41|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1975|2016-06-29|     F|  null|     AA|55435538733|00787|      WT|
| 4894| 2016|     4|   111|   111|    DAL|  20545|      1|     LA|  20552|    67|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1949|2016-06-29|     F|  null|     AA|55437676333|00049|      WT|
| 5385| 2016|     4|   111|   111|    NEW|  20545|      1|     NY|  20553|    37|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1979|2016-06-29|     M|  null|     DL|55443051733|00021|      WT|
| 5409| 2016|     4|   111|   111|    NEW|  20545|      1|     NY|  20554|    44|      2|    1|2016-04-01|    null| null|      G|      O|   null|      M|   1972|2016-06-29|     M|  null|     DL|55447898033|00149|      WT|
| 5556| 2016|     4|   111|   111|    NYC|  20545|      3|     VT|  20547|    28|      2|    1|2016-04-01|    null| null|      Z|      K|   null|      M|   1988|2016-06-29|     M|  null|   null|55459776233| LAND|      WT|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+----------+--------+-----+-------+-------+-------+-------+-------+----------+------+------+-------+-----------+-----+--------+
only showing top 20 rows

#### Demographics data

##### Cleaning
Fixing headers

In [191]:
df_demographics = spark.read.csv(demographics_data, header=True, sep=';', inferSchema=True)
for name in list(df_demographics.schema.names):
    df_demographics = df_demographics.withColumnRenamed(name, re.sub(r'[^a-zA-Z0-9]', '_', name).lower())
df_demographics.write.mode('overwrite').format('parquet').option('path', 'output/demographics').saveAsTable('demographics')

In [385]:
df_demographics.select('city').show()
df_demographics.select('city').count()

+----------------+
|            city|
+----------------+
|   Silver Spring|
|          Quincy|
|          Hoover|
|Rancho Cucamonga|
|          Newark|
|          Peoria|
|        Avondale|
|     West Covina|
|        O'Fallon|
|      High Point|
|          Folsom|
|          Folsom|
|    Philadelphia|
|         Wichita|
|         Wichita|
|      Fort Myers|
|      Pittsburgh|
|          Laredo|
|        Berkeley|
|     Santa Clara|
+----------------+
only showing top 20 rows

2891

In [537]:
df_demographics.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            city|         state|median_age|male_population|female_population|total_population|number_of_veterans|foreign_born|average_household_size|state_code|                race| count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

#### Airports data

##### Cleaning
- fixing headers
- fixing the iso_region while removing 'US-' as perfix

In [391]:
df_airport = spark.read.csv(airport_data, header=True, inferSchema=True)
for name in list(df_airport.schema.names):
    df_airport = df_airport.withColumnRenamed(name, re.sub(r'[^a-zA-Z0-9]', '_', name).lower())

df_airport = df_airport.withColumn('iso_region', regexp_replace('iso_region', r'US-', ''))
df_airport.write.mode('overwrite').format('parquet').option('path', 'output/airport').saveAsTable('airport')

In [407]:
df_airport.select('iso_region').show()

+----------+
|iso_region|
+----------+
|        PA|
|        KS|
|        AK|
|        AL|
|        AR|
|        OK|
|        AZ|
|        CA|
|        CA|
|        CA|
|        CO|
|        FL|
|        FL|
|        FL|
|        GA|
|        GA|
|        HI|
|        ID|
|        KS|
|        IN|
+----------+
only showing top 20 rows

In [538]:
df_airport.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|        PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|        KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|        AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|        AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|        AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|        OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|        AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|       NA|         US|        CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|          87|       NA|         US|        CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00CN|     heliport|Kitchen Creek Hel...|        3350|       NA|         US|        CA| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|
| 00CO|       closed|          Cass Field|        4830|       NA|         US|        CO|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|
| 00FA|small_airport| Grass Patch Airport|          53|       NA|         US|        FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FD|     heliport|  Ringhaver Heliport|          25|       NA|         US|        FL|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|
| 00FL|small_airport|   River Oak Airport|          35|       NA|         US|        FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|         700|       NA|         US|        GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00GE|     heliport|    Caffrey Heliport|         957|       NA|         US|        GA|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|
| 00HI|     heliport|  Kaupulehu Heliport|          43|       NA|         US|        HI| Kailua-Kona|    00HI|     null|      00HI|-155.980233, 19.8...|
| 00ID|small_airport|Delta Shores Airport|        2064|       NA|         US|        ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|        3359|       NA|         US|        KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00II|     heliport|Bailey Generation...|         600|       NA|         US|        IN|  Chesterton|    00II|     null|      00II|-87.122802734375,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

### Data Dictionary for Immigration

<img src="data/Data-dict.jpeg" width=600 height=600 />

### Data Dictionary for Temperature

<img src="data/temperature.jpeg" width=400 height=600 />

### Data Dictionary for Airports

<img src="data/airport.jpeg" width=500 height=600 />

### Data Dictionary for Demographics

<img src="data/demographics.jpeg" width=500 height=600 />

In [195]:
#df_immigration.createGlobalTempView("immigration")
#df_temperature.createGlobalTempView("temperature")
#df_airport.createGlobalTempView("airport")
#df_demographics.createGlobalTempView("demographics")

In [400]:
spark.sql('show tables').show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
| default|     airport|      false|
| default|demographics|      false|
| default| immigration|      false|
| default| temperature|      false|
+--------+------------+-----------+

## Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

Immigration data has wealth of information on immigration practices in US hence it becomes our fact table.
Various dimensions table have been carved out which provides insights on influx of immigrants, visa information for immigrants etc.
Demographics and Airports table serve as other dimensions which can be joined with state_code and iata_code


#### 3.2 ETL  Pipelines
List the steps necessary to pipeline the data into the chosen data model

1. Run 'pythoon create_tables.py' to create tables.
2. SQL Join on city to airports data.
3. Finally insert the data using the main notebook.

### Fact table:
- Immigration (Joined with airports data on iata_code)

### Dimension table:
- Citywise influx (made from immigration table)

### Dimension table:
- Demographics table

### Dimension table
- Visa type (made from immigration table)

### Dimension table
- Airport (made using airport data)

In [497]:
#Creating a data warehouse

spark.sql("create database dwh").show()

spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|      dwh|
+---------+

In [498]:
# Creating staging table for immigration
staging_immigration.write.mode('overwrite').format('parquet').option('path', 'dwh/s_immigration').saveAsTable('dwh.staging_immigration')

In [499]:
#Staging data for airport
# This is airport

# Will be used for loading data to dimension table
df_staging_airport = spark.sql("select * from airport where iata_code in (select distinct(i94port) from staging_immigration)")
staging_airport = df_staging_airport.dropDuplicates(['iata_code'])
staging_airport.write.mode('overwrite').format('parquet').option('path', 'dwh/s_airport').saveAsTable('dwh.staging_airport')

In [500]:
staging_airport.show()

+------+--------------+--------------------+------------+----------+-----------------+--------+---------+----------+--------------------+
| ident|          type|                name|elevation_ft|iso_region|     municipality|gps_code|iata_code|local_code|         coordinates|
+------+--------------+--------------------+------------+----------+-----------------+--------+---------+----------+--------------------+
|  KBGM|medium_airport|Greater Binghamto...|        1636|        NY|       Binghamton|    KBGM|      BGM|       BGM|-75.97979736, 42....|
|  KFMY|medium_airport|          Page Field|          17|        FL|       Fort Myers|    KFMY|      FMY|       FMY|-81.8632965087999...|
|  KDNS| small_airport|Denison Municipal...|        1274|        IA|          Denison|    KDNS|      DNS|       DNS|-95.38069916, 41....|
|  EFHK| large_airport|Helsinki Vantaa A...|         179|     FI-ES|         Helsinki|    EFHK|      HEL|      null|24.963300704956, ...|
|  KFOK| small_airport|Francis S Gabresk...|          67|        NY|Westhampton Beach|    KFOK|      FOK|       FOK|-72.6317977905, 4...|
|  KHVR|medium_airport|Havre City County...|        2591|        MT|            Havre|    KHVR|      HVR|       HVR|-109.762001, 48.5...|
|  KPTK|medium_airport|Oakland County In...|         980|        MI|          Pontiac|    KPTK|      PTK|       PTK|-83.420097351074,...|
|  KSNA| large_airport|John Wayne Airpor...|          56|        CA|        Santa Ana|    KSNA|      SNA|       SNA|-117.8679962, 33....|
|   CLG|        closed|    Coalinga Airport|        null|        CA|             null|    null|      CLG|      null|-120.360116959, 3...|
|  KOPF|medium_airport|Miami-Opa Locka E...|           8|        FL|            Miami|    KOPF|      OPF|       OPF|  -80.278397, 25.907|
|  ETAD|medium_airport|Spangdahlem Air Base|        1197|     DE-RP|            Trier|    ETAD|      SPM|      null|6.69250011444, 49...|
|  HEBL|medium_airport|  Abu Simbel Airport|         616|    EG-ASN|       Abu Simbel|    HEBL|      ABS|      null|31.611700058, 22....|
|  MYNN| large_airport|Lynden Pindling I...|          16|     BS-NP|           Nassau|    MYNN|      NAS|      null|  -77.466202, 25.039|
|  KMYR|medium_airport|Myrtle Beach Inte...|          25|        SC|     Myrtle Beach|    KMYR|      MYR|       MYR|-78.9282989502, 3...|
|  KPVD| large_airport|Theodore Francis ...|          55|        RI|       Providence|    KPVD|      PVD|       PVD|-71.420403, 41.73...|
|  KOAK| large_airport|Metropolitan Oakl...|           9|        CA|          Oakland|    KOAK|      OAK|       OAK|-122.221001, 37.7...|
|  KFAR|medium_airport|Hector Internatio...|         902|        ND|            Fargo|    KFAR|      FAR|       FAR|-96.8158035278320...|
|AU-CRY| small_airport|Carlton Hill Airport|        null|     AU-WA|     Carlton Hill|    null|      CRY|      null|128.5339965820312...|
|   OTT| small_airport| Andre Maggi Airport|         900|     BR-MT|      CotriguaÃ§u|    null|      OTT|      null|-58.581944, -9.89...|
|  SSPN| small_airport|  ParanaÃ­ba Airport|        1446|     BR-MS|       ParanaÃ­ba|    SSPN|      PBB|      SSPN|-51.1994018554687...|
+------+--------------+--------------------+------------+----------+-----------------+--------+---------+----------+--------------------+
only showing top 20 rows

In [501]:
#Staging data for citywise influx
staging_influx = spark.sql("SELECT i94cit, count(i94cit) count, i94addr, i94port FROM staging_immigration group by i94cit, i94port, i94addr order by count desc")

staging_influx.write.mode('overwrite').format('parquet').option('path', 'dwh/s_influx').saveAsTable('dwh.staging_influx')

In [502]:
#Staging data for visa info

staging_visa = spark.sql("SELECT i94port, count(i94port) count, i94visa, visapost, visatype FROM staging_immigration group by visatype, i94visa, i94port, visapost order by count desc")

staging_visa.write.mode('overwrite').format('parquet').option('path', 'dwh/s_visa').saveAsTable('dwh.staging_visa')

In [503]:
# Staging data for demographics
staging_demographics = df_demographics
staging_demographics.write.mode('overwrite').format('parquet').option('path', 'dwh/s_demographics').saveAsTable('dwh.staging_demographics')

In [504]:
staging_visa.dtypes

[('i94port', 'string'),
 ('count', 'bigint'),
 ('i94visa', 'int'),
 ('visapost', 'string'),
 ('visatype', 'string')]

In [505]:
staging_influx.dtypes

[('i94cit', 'int'),
 ('count', 'bigint'),
 ('i94addr', 'string'),
 ('i94port', 'string')]

In [506]:
staging_airport.dtypes

[('ident', 'string'),
 ('type', 'string'),
 ('name', 'string'),
 ('elevation_ft', 'int'),
 ('iso_region', 'string'),
 ('municipality', 'string'),
 ('gps_code', 'string'),
 ('iata_code', 'string'),
 ('local_code', 'string'),
 ('coordinates', 'string')]

In [507]:
staging_immigration.dtypes

[('cicid', 'bigint'),
 ('i94yr', 'int'),
 ('i94mon', 'int'),
 ('i94cit', 'int'),
 ('i94res', 'int'),
 ('i94port', 'string'),
 ('arrdate', 'int'),
 ('i94mode', 'int'),
 ('i94addr', 'string'),
 ('depdate', 'int'),
 ('i94bir', 'int'),
 ('i94visa', 'int'),
 ('count', 'int'),
 ('dtadfile', 'date'),
 ('visapost', 'string'),
 ('occup', 'string'),
 ('entdepa', 'string'),
 ('entdepd', 'string'),
 ('entdepu', 'string'),
 ('matflag', 'string'),
 ('biryear', 'int'),
 ('dtaddto', 'date'),
 ('gender', 'string'),
 ('insnum', 'string'),
 ('airline', 'string'),
 ('admnum', 'bigint'),
 ('fltno', 'string'),
 ('visatype', 'string')]

In [508]:
staging_demographics.dtypes

[('city', 'string'),
 ('state', 'string'),
 ('median_age', 'double'),
 ('male_population', 'int'),
 ('female_population', 'int'),
 ('total_population', 'int'),
 ('number_of_veterans', 'int'),
 ('foreign_born', 'int'),
 ('average_household_size', 'double'),
 ('state_code', 'string'),
 ('race', 'string'),
 ('count', 'int')]

In [542]:
spark.sql("use dwh").show()
spark.sql("show tables").show()

++
||
++
++

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|     dwh|     staging_airport|      false|
|     dwh|staging_demographics|      false|
|     dwh| staging_immigration|      false|
|     dwh|      staging_influx|      false|
|     dwh|        staging_visa|      false|
+--------+--------------------+-----------+

## 4 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [530]:
def dq_checks(df, staging_table):
    """Count the number of records for data completeness.
    :param df: spark dataframe to check counts on
    :param staging_table: corresponding name of table
    """
    total_count = df.count()

    if total_count == 0:
        print(f"Data quality check failed for {staging_table} with zero records!")
    else:
        print(f"Data quality check passed for {staging_table} with {total_count} records.")
    return 0

In [533]:
tables = {
    'staging_immigration': staging_immigration,
    'staging_visa': staging_visa,
    'staging_influx': staging_influx,
    'staging_demographics': staging_demographics,
    'staging_airport': staging_airport
}
for table_name, table_df in tables.items():
    dq_checks(table_df,table_name)

Data quality check passed for staging_immigration with 3096313 records.
Data quality check passed for staging_visa with 29372 records.
Data quality check passed for staging_influx with 89678 records.
Data quality check passed for staging_demographics with 2891 records.
Data quality check passed for staging_airport with 252 records.